<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>code block!</title>
</head>
<body>
    <h2>{{ code_block.get_title() }}</h2>
    <textarea id="code_text_area" rows="10" cols="50">{{ code_block.get_code() }}</textarea>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        const socket = io();
        const codeBlockId = "{{ code_block.get_id() }}";

        socket.on("code_change", (data) => {
        if (data.codeBlockId === codeBlockId) {
            document.getElementById("code_text_area").value = data.newCode;
        }
        });

        document.getElementById("code_text_area").addEventListener("input", () => {
            let newCode = document.getElementById("code_text_area").value;
            socket.emit("edit_code", codeBlockId, newCode);
            console.log("emitted");
        });
    </script>
</body>
</html>