{% extends "base.html" %}

{% block title %}{{ code_block.title }}{% endblock %}

{% block socket_script %}
<script>
    const socket = io();
    const isMentor = "{{ user_role }}" === "mentor";
</script>
{% endblock %}

{% block content %}
<h2>{{ code_block.title }}</h2>
<textarea id="code_text_area" rows="10" cols="50">{{ code_block.code }}</textarea>
<script>
    const codeBlockId = "{{ code_block.id }}";
    const codeTextArea = document.getElementById("code_text_area");
    let codeMirror = CodeMirror.fromTextArea(
        codeTextArea, {
            mode: "javascript",
            lineNumbers: true,
            readOnly: isMentor,
            theme:'blackboard',
            autoCloseBrackets:true,
            autoCloseTags:true
        }
    );

    let programmaticChange = false; // Flag to track programmatic changes

    socket.on("code_change", (data) => {
    if (data.codeBlockId === codeBlockId) {
        const cursorPosition = codeMirror.getCursor();
        programmaticChange = true; // Set flag before changing content

        // Set the value and read-only mode based on data.isFixed
        codeMirror.setValue(data.newCode);
        codeMirror.setOption("readOnly", data.isFixed);

        if (data.isFixed) {
            showSmiley();
        } else {
            hideSmiley();
        }

        codeMirror.setCursor(cursorPosition); // Set cursor to end
        codeMirror.focus();
        programmaticChange = false; // Reset flag after the change
    }
});

    codeMirror.on("change", (instance) => {
        if (!programmaticChange) {
            let newCode = instance.getValue();
            socket.emit("edit_code", codeBlockId, newCode);
        }
    });


    // Function to show the smiley image
    function showSmiley() {
        const smileyContainer = document.getElementById("smiley-container");

        // Create and set attributes for the smiley image element
        const smileyImage = document.createElement("img");
        smileyImage.src = "{{url_for('static', filename='smiley-face.png')}}"; // Replace with actual path
        smileyImage.alt = "Smiley";

        // Append the smiley image to the container
        smileyContainer.appendChild(smileyImage);
    }

    // Function to hide the smiley image
    function hideSmiley() {
        const smileyContainer = document.getElementById("smiley-container");
        smileyContainer.innerHTML = ""; // Clear the container
    }
</script>
<div id="smiley-container"></div>
<h2>
    {% if user_role == "mentor" %}
    Remember when you used to be a student?
    {%endif%}
</h2>

{% endblock %}
