{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block content %}
<h1>Choose Code Block:</h1>
<ul>
    {% for code_block_id, code_block in code_blocks.items() %}
        <li>
            <h2><a href="{{ url_for('code_block.code_block_route', id=code_block_id) }}">{{ code_block.get_title() }}</a></h2>
            <script>
                const codeBlockId_{{ code_block_id }} = "{{ code_block_id }}";

                document.getElementById("code_text_area_{{ code_block_id }}").addEventListener("input", () => {
                    let newCode = document.getElementById("code_text_area_{{ code_block_id }}").value;
                    socket.emit("edit_code", codeBlockId_{{ code_block_id }}, newCode);
                    console.log("emitted");
                });
            </script>
        </li>
    {% endfor %}
</ul>
{% endblock %}
