{% extends "base.html" %}

{% block title %}Lobby{% endblock %}
{% block socket_script %}
<script>
    const isMentor = "{{ user_role }}" === "mentor";
    const message = isMentor ? "Hello Mr. Mentor!" : "Hello dear student"
</script>
{% endblock %}
{% block content %}
<h1>
    {% if user_role == "mentor" %}
    Hello Mr. Mentor!
    {% else %}
    Hello dear student
    {%endif%}
</h1>
<h1>Choose Code Block:</h1>
<ul>

    {% for code_block in code_blocks %}
        <li>
            <h2><a href="{{ url_for('code_block.code_block_route', id=code_block.id) }}">{{ code_block.title }}</a></h2>
        </li>
    {% endfor %}
</ul>
{% endblock %}
